# Banco de dados
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/finance?schema=public"

# Qual adapter de Open Finance usar: "mock" | "pluggy"
OPEN_FINANCE_PROVIDER=pluggy

# Credenciais do provider real (preencher quando trocar de mock para pluggy)
PLUGGY_CLIENT_ID=32020184-377b-4b33-adf6-6ab6835f8c46
PLUGGY_CLIENT_SECRET=ZvWNV6Lk5kSrsAhjZ_aYqXbrGjvmrJmUYHeqlKMcqWA

PORT=3000
